<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzb.zhenjvan.mapper.PasswordUpdateInfoMapper">
  <resultMap id="BaseResultMap" type="com.zzb.zhenjvan.entity.PasswordUpdateInfo">
    <!--@mbg.generated-->
    <!--@Table password_update_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="TRADINGDAY" jdbcType="DATE" property="tradingday" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, TRADINGDAY, USERID, num
  </sql>

  <select id="selectByAccNo" resultMap="BaseResultMap">
    select * from password_update_info where USERID =#{selfAccNo}
    </select>
</mapper>
